/* Google Fonts- (Poppins) */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap');

 /* Google Fonts- (Niconne) */
 @import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/* Common Style */
*{
    margin: 0;
    padding: 0;
}
 body{
    width: 100%;
     font-family: 'Poppins', sans-serif;
 }

 /* Banner Section */
 header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2d25a0;
    /* flex-wrap: wrap; */
 }
 .banner-container{
    width: 1130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px;
 }
 .banner-des{
     width: 485px;
 }
 span{
    color: #E02C6D;
 }
 .banner-title{
    color: #ffffff;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 27px;
 }
 .btn {
    background-color: #E02C6D;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: border-radius  1s ease;
}
.btn:hover{
   border-radius: 20px;
}
.fas{
   font-size: 14px;
   position: relative;
   transition: font-size 1s ease;
}
.btn:hover .fas{
   font-size: 18px;
}
  .banner-image img{
     width: 100%;
}

/* Players Section */
main{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.players-container{
   width: 1100px;
}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 30px;
   row-gap: 30px;
   margin: 70px 25px;
}
.player{
   padding: 15px;
   background: #FFFFFF;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image{
   width: 100%;
   max-height: 256px;
   overflow: hidden
}
.player-image img {
   transition: transform 2s;
 }
 .player-image:hover img {
   transform: scale(1.2);
   cursor: pointer;
 }
.player-title{
   color: #18191F;
   font-size: 28px;
   line-height: 40px;
   font-weight: bold;
   padding-top: 14px;
   padding-bottom: 11px;
}
.player-details{
   color: #6C6C6C;
   font-size: 16px;
   line-height: 26px;
   font-weight: normal;
   padding-bottom: 15px;
}

/* Match Section */
.match-container {
   width: 1150px;
}
.match-info {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
}
.match-des {padding: 0px 50px;}
.match-title {
   color: #0A0826;
   font-size: 48px;
   line-height: 60px;
   font-weight: bold;
   padding-bottom: 7px;
   max-width: 469px;
}
.match-paragraph {
   color: #6C6C6C;
   font-size: 16px;
   line-height: 28px;
   font-weight: normal;
   max-width: 404px;
   margin-bottom: 25px;
}
.match-image img {
   max-width: 567px;
}
/* Animation Image Section */
.ani-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 70px;
}
.animation-gif{
   max-width: 969px;
   max-height: 250px;
   margin-top: -7px;
   border-radius: 20px;
   box-shadow: 0px 0px 7px #000000;
   overflow: hidden;
}
.animation-gif img{
   width: 100%;
   height: 252px;
   transition: transform 2s;
}
.animation-gif:hover img{
   transform: scale(1.2);
   cursor: pointer;
}
/* Sponsor Section */
.sponsor-container{
   background-color: #ebebeb;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 70px;
}
.sponsor-top {
   margin-top: 76px;
}
.sponsors{
   width: 767px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 30px;
   row-gap: 30px;
   margin-top: 20px;
   margin-bottom: 40px;
   align-items: center;
   padding: 30px 0px;
}
.sponsor {
   display: flex;
   justify-content: center;
}
.sponsor-title{
   color: #E02C6D;
   font-size: 48px;
   line-height: 60px;
   font-weight: bold;
   margin-top: 3;
}

/* Footer */
.footer-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
   margin-bottom: 60px;
}
.logos{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
}

.logo img{
   width: 249px;
   height: 91px;
}
.company-name{
   color: #10437A;
   font-family: 'Niconne', cursive;
   font-size: 72px;
   line-height: 72px;
   font-weight: normal;
   letter-spacing: 2.01613px;
}
.footer-icon {
   margin-top: 25px;
   margin-bottom: 19px;
}
.footer-icon a{
   text-decoration: none;
}
.icon-s{
   color: #969BAB;
   font-size: 17px;
   width: 17px;
   height: 17px;
   text-align: center;
   background-color: #e7e7e8;
   padding: 7px;
   margin: 7px;
   border-radius: 50%;
}
.copyright{
color: #000000;
font-size: 18px;
line-height: 24px;
font-weight: normal;
}

/* ---------------------------------
         Media Queries
   --------------------------------- */

/* Mobile Screen */
@media only screen and (max-width: 688px) {
   header{
      max-width: 688px;
   }
/*------ Banner Section ------ */
   .banner-container{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 60px;
   }
   .banner-des {
      width: 93%;
      margin-bottom: 50px;
  }
  .banner-title{
      font-size: 36px;
      line-height: 50px;
      font-weight: 700;
      word-break: break-word;
  }
  .banner-image{
      width: 93%;
  }

/*-------------- Body Section---------------- */
/*-------------- Players Section---------------- */

main{
   width: 100%;
  }
  .players-container {
   width: 100%;
}
  .players{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   row-gap: 24px;
   margin: 47px 20px;
}
.player{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   padding: 5%;
}
.player-image {
   max-width: 300px;
}
.player-image img {
   width: 100%;
}
/*-------------- Match Section---------------- */
.match-container{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   padding: 0px;
   margin: 0px;
}
.match-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   padding: 2% 5%;
   margin: 0px;
}
.match-des{
   width: 100%;
   padding: 0px;
   margin-bottom: 25px;
}
.match-title{
   width: 100%;
   font-size: 30px;
   line-height: 40px;
   font-weight: bold;
}
.match-paragraph{
   width: 100%;
}
.match-image{
   display: flex;
   width: 100%;
   justify-content: center;
}
.match-image img{
   width: 100%;
}

/*-------------- Match Section---------------- */
.ani-container{
   width: 100%;
   margin-top: 0px;
}
.animation-gif{
   width: 84%;
   height: auto;
   padding: 3%;
   margin: 5%;
}
.animation-gif img{
   height: auto;
}

/*-------------- Match Section---------------- */
.sponsor-container{
   width: 100%;
   margin-top: 30px;
}
.sponsors{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   padding: 2% 5%;
   margin: 0px;
}
.sponsor-top{
   margin-top: 30px;
}
.sponsor{
   width: 100%;
}
.sponsor-title{
   font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

 .footer-container {
      display: none;
   }
}