/* Google Fonts- (Poppins) */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap');

/* Common Style */
*{
    margin: 0;
    padding: 0;
}
 body{
     font-family: 'Poppins', sans-serif;
 }

 /* Banner Section */
 header{
    display: flex;
    justify-content: center;
    background-color: #2d25a0;
 }
 .banner-container{
    width: 1130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px;
 }
 .banner-des{
     width: 485px;
 }
 .banner-title{
    color: #ffffff;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 27px;
 }
 .btn {
    background-color: #E02C6D;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
  .banner-image img{
     width: 100%;
}

/* Players Section */
main{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.players-container{
   width: 1100px;
}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 30px;
   row-gap: 30px;
   margin: 70px 25px;
}
.player{
   padding: 15px;
   background: #FFFFFF;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-title{
   color: #18191F;
   font-size: 28px;
   line-height: 40px;
   font-weight: bold;
   padding-top: 14px;
   padding-bottom: 11px;
}
.player-details{
   color: #6C6C6C;
   font-size: 16px;
   line-height: 26px;
   font-weight: normal;
   padding-bottom: 15px;
}

/* Match Section */
.match-container {
   width: 1150px;
}
.match-info {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
}
.match-des {padding: 0px 50px;}
.match-title {
   color: #0A0826;
   font-size: 48px;
   line-height: 60px;
   font-weight: bold;
   padding-bottom: 7px;
   max-width: 469px;
}
.match-paragraph {
   color: #6C6C6C;
   font-size: 16px;
   line-height: 28px;
   font-weight: normal;
   max-width: 404px;
   margin-bottom: 25px;
}
.match-image img {
   max-width: 567px;
}